@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");
/* BACKGROUND */
.bg-body-tertiary {
  --bs-bg-opacity: 0 !important;
}

.navbar-nav .nav-link {
  color: white !important;
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 999;
}
.navbar-nav .nav-link:hover {
  transition: 0.3s;
  text-decoration: line-through;
  text-shadow: 0 0 10px #ff0000;
}

#logo {
  width: 50px;
  border-radius: 25%;
}

.navbar-brand {
  z-index: 9999;
}

.headerContainer {
  position: relative;
  height: 60vh;
  width: auto;
  overflow: hidden;
  background-image: url(../styles/imagenes/concert2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 0 0 10px 2px gray;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.headerContainer:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  color: white;
  text-shadow: 0px 0px 15px rgb(39, 38, 38);
}
.text .headerButton {
  background-color: rgba(110, 16, 16, 0.9);
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 0 27%;
}
.text .headerButton:hover {
  transition: 0.3s;
  background-color: #be2323;
  box-shadow: 0 0 10px 0 white;
}
.text .headerButton a {
  color: black;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

/* BACKGROUND */
.backgroundMain {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
  /*background-image: linear-gradient(to right, #232526, #2a2c2d, #323435, #393b3d, #414345); */
  overflow-x: hidden;
}

.containerAboutUs .aboutUs {
  margin-left: 2%;
  margin-top: 2%;
  width: 400px;
}
.containerAboutUs .aboutUs h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  color: white;
  text-shadow: 0px 0px 15px rgb(39, 38, 38);
  text-align: center;
}
.containerAboutUs .aboutUs .imgUs {
  width: 100%;
  position: relative;
}
.containerAboutUs .textoAboutUs {
  margin-right: 2%;
  margin-left: 480px;
  float: right;
  position: relative;
  bottom: 400px;
}
.containerAboutUs .textoAboutUs p {
  color: white !important;
  font-family: "Freeman", sans-serif;
  font-style: normal;
  float: right;
}
.containerAboutUs .discografia {
  height: 300px;
  margin-left: 480px;
  position: relative;
  bottom: 400px;
  display: flex;
  gap: 10px;
  justify-content: center;
  background-image: url(/styles/imagenes/discografia/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}
.containerAboutUs .discografia .disco {
  width: 150px;
  height: 250px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4%;
  box-shadow: 0 0 10px 5px rgb(32, 32, 32);
  transition: 0.3s;
  position: relative;
}
.containerAboutUs .discografia .disco:hover {
  height: 255px;
}
.containerAboutUs .discografia .disco:hover .img {
  opacity: 0.5;
}
.containerAboutUs .discografia .disco:hover .playDisc {
  opacity: 1;
}
.containerAboutUs .discografia .disco img {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  display: block;
  width: 100%;
  height: 80%;
  border-radius: 4%;
}
.containerAboutUs .discografia .disco p {
  padding: 10px 20px;
  text-align: center;
  color: white;
}
.containerAboutUs .discografia .disco .playDisc {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.containerAboutUs .discografia .disco .playDisc .playButton {
  padding: 16px 32px;
}
.containerAboutUs .discografia .disco .playDisc .playButton img {
  width: 50px;
  opacity: 0.7;
}
.containerAboutUs .discografia .disco .playDisc .playButton:hover img {
  width: 55px;
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */