/* BACKGROUND */
.backgroundMain {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    /*background-image: linear-gradient(to right, #232526, #2a2c2d, #323435, #393b3d, #414345); */
    overflow-x: hidden;
} 
.containerAboutUs {
    height: 700px;
    .aboutUs {
        margin-left: 2%;
        margin-top: 2%;
        //width: 25%;
        width: 400px;
        h2 {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 80px;
            color: white;
            text-shadow: 0px 0px 15px rgb(39, 38, 38);
            text-align: center;
        }
        .imagenPrincipal {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2%;
            &::before {
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                right: -2px;
                bottom: -2px;
                background: #fff;
                z-index: -1;
                border-radius: 2%;
                //background: linear-gradient(235deg, #89ff00,#060c21,#00bcd4);
                //background: linear-gradient(235deg, #5F0E0E,#782621,#390000);
                background: linear-gradient(235deg, #000000,#641511,#000000);
            }
            &::after {
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                right: -2px;
                bottom: -2px;
                background: #fff;
                z-index: -2;
                filter: blur(40px);
                border-radius: 2%;
                //background: linear-gradient(235deg, #89ff00,#060c21,#00bcd4);
                //background: linear-gradient(235deg, #5F0E0E,#782621,#390000);
                background: linear-gradient(235deg, #000000,#641511,#000000);
            }
        }
        .imgUs {
            width: 100%;
            position: relative;
            border-radius: 2%;
        }
    }
    .textoAboutUs {
        margin-right: 2%;
        margin-left: 480px;
        float: right;
        position: relative;
        bottom: 400px;
        p {
            color: white !important;
            font-family: "Freeman", sans-serif;
            font-style: normal;
            float: right;
        }
    }
    .discografia {
        height: 300px;
        margin-left: 480px;
        position: relative;
        bottom: 400px;
        display: flex;
        gap: 10px;
        justify-content: center;
        /*background-image: url(/styles/imagenes/discografia/image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 2%;*/
        .disco {
            width: 150px;
            height: 250px;
            margin: auto;
            background-color: rgba($color: #000000, $alpha: 0.8);
            border-radius: 4%;
            box-shadow: 0 0 10px 5px rgb(32, 32, 32);
            transition: 0.3s;
            position: relative;
            &:hover {
                .img{
                    opacity: 0.5;
                }
                .playDisc {
                    opacity: 1;
                }
                height: 255px;
            }
            img {
                opacity: 1;
                transition: .5s ease;
                backface-visibility: hidden;
                display: block;
                width: 100%;
                height: 80%;
                border-radius: 4%;
            }
            p {
                padding: 10px 20px;
                text-align: center;
                color: white;
            }
            .playDisc {
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                .playButton {
                    padding: 16px 32px;
                    img {
                        width: 50px;
                        opacity: 0.7;
                    }
                    &:hover {
                        img {
                            width: 55px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}